/*  your css code here. If applicable */
.container{
	height:200px;
	width:500px;
	border:5px solid black;
	background-color:gray;
	border-radius:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	gap:10px
}
.green{
	height:100px;
	width:100px;
	background-color:green;
	border-radius:50%;
}
.yellow{
	height:100px;
	width:100px;
	background-color:yellow;
	border-radius:50%
}
.red{
	height:100px;
	width:100px;
	background-color:red;
	border-radius:50%
}
